.role-tree {
  width: 250px;
  float: left;
  position: relative;
  background-color: yellowgreen;
}

.role-detail {
  width: 700px;
  float: right;
  background-color: burlywood;
}

/* fixed clear float  */
.clear{
  clear:both;
  font-size:0;
  height:1%;
}

